#cv-svg-object {
    width: 100%;
}

#cv-svg-container {
    margin: 2rem 0;
    text-align: center;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}


object[type="image/svg+xml"] {
    background: none !important;
}

article {
    padding: 0px
}

summary {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
